<%
  var flash = (typeof session !== 'undefined' && session && session.flash) ? session.flash : null;
  if (flash) { session.flash = null; }
%>
<% if (flash) { %>
  <div class="flash <%= flash.type || '' %>"><%= flash.message %></div>
<% } %>
